<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sweat</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">




    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='assets/vendor.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='assets/sweat.css')}}" />


  </head>
  <body>


    <script src="{{ url_for('static',filename='assets/vendor.js')}}" ></script>
    <script src="{{ url_for('static',filename='assets/sweat.js')}}" ></script>
    


  </body>
</html>
