.icon {
  width: 15px;
  height: 15px;
  fill: currentcolor; }
  .icon.icon-xs {
    width: 10px;
    height: 10px; }
  .icon.icon-sm {
    width: 13px;
    height: 13px; }
  .icon.icon-lg {
    width: 20px;
    height: 20px; }
  .icon.icon-mlg {
    width: 32px;
    height: 32px; }
  .icon.icon-xlg {
    width: 42px;
    height: 42px; }
  .icon.light {
    fill: #fff; }
  .icon.dark {
    fill: #333; }
  .icon.sweat-logo {
    width: 100px;
    height: 20px; }
  .icon.plus {
    width: 17px;
    height: 17px;
    border-radius: 10px;
    margin-top: 1px; }

/* Customer's page styles */
.list-content .name {
  background-image: linear-gradient(135deg, #9a9da3, #34373e);
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%; }

.list-content .item {
  margin: 10px 0 10px 1.563em; }

.list-content .package-name {
  border-radius: 5px;
  background-color: #ecf6ff;
  border: solid 1px #b2d4f7;
  font-size: 0.625em;
  color: #0163c6;
  padding: 4px; }

.list-content .expires-info {
  font-size: 0.875em;
  color: #79859c; }

.list-content .checkin-info {
  margin-left: 15.688em;
  font-size: 0.875em;
  color: #79859c; }

.list-content .checkout-info {
  margin-right: 11.438em;
  font-size: 0.875em;
  color: #79859c; }

.list-content .divider {
  border-right: solid 1px #79859c;
  width: 2px;
  opacity: 0.3; }

.list-content:hover {
  cursor: pointer; }

body {
  font-family: 'Nunito Sans', sans-serif; }

.app-container {
  position: absolute;
  left: 180px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #e9eef6;
  overflow: hidden; }

.side-nav-container {
  position: fixed;
  width: 180px;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0px 7px;
  background-image: linear-gradient(167deg, #313235, #303134 5%, #191d23); }
  .side-nav-container .app-icon {
    margin: 20px 0px 30px 17px; }
  .side-nav-container .nav-item {
    font-size: 1.000em;
    color: #cecece;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 6px; }
  .side-nav-container .nav-content {
    padding: 3px 0px 3px 10px; }
  .side-nav-container .active {
    background-color: #42454b;
    border-radius: 4px; }

.header-container {
  position: absolute;
  right: 0;
  left: 0;
  top: 20px;
  padding: 0px 1.875em; }

.header .title {
  font-size: 2.000em;
  font-weight: bold; }

.header .action-btn {
  margin: 6px 0px 6px 20px;
  width: 163px;
  max-height: 31px;
  border-radius: 7px;
  padding: 6px 10px;
  background-color: #1a5bff;
  box-shadow: 0 4px 10px 2px rgba(70, 129, 227, 0.21); }
  .header .action-btn:hover {
    cursor: pointer; }

.header .btn-label {
  font-size: 0.875em;
  margin-left: 5px; }

.content-container {
  position: absolute;
  right: 0;
  left: 0;
  top: 140px;
  bottom: 0;
  overflow-y: auto;
  padding: 0px 1.875em; }

.filter-panel {
  margin: 20px 0px; }
  .filter-panel .label {
    font-size: 1.000em;
    color: #79859c;
    margin-right: 0.625em;
    padding: 2px 0px; }
  .filter-panel .filter {
    font-size: 1.000em;
    padding: 2px 10px;
    border: 1px solid rgba(0, 0, 0, 0); }
    .filter-panel .filter.show {
      border: 1px solid #c9d0dc;
      border-radius: 7px; }
    .filter-panel .filter:hover {
      cursor: pointer; }
  .filter-panel .dropdown-toggle::after {
    display: none; }
  .filter-panel .dropdown-position {
    top: 5px !important;
    left: -10px !important; }

.list-content {
  background-color: #ffffff;
  border-radius: 7px;
  padding: 16px 20px;
  margin-bottom: 10px; }
  .list-content:hover {
    transition: box-shadow .2s ease-out;
    box-shadow: 0 9px 15px 10px rgba(42, 58, 68, 0.1); }

/*# sourceMappingURL=sweat.css.map */